.swiper-slide{height:0}
.u--arrow--one{position:relative;left:50%; z-index: 150; width:44px; height: 80px;margin-left:-15px;}
.u--arrow--one p{background:url(../images/arrow.png) no-repeat;position: absolute;width:44px;height:20px;-webkit-animation:start 1.5s infinite ease-in-out;  -moz-animation:start 1.5s infinite ease-in-out;animation:start 1.5s infinite ease-in-out;}.swiper-slide--inner .wish--left{margin-left: -123px}
.u--arrow--two{position:absolute;left:50%; z-index: 150; width:44px; height: 80px;margin-left:-15px;bottom:0}
.u--arrow--two p{background:url(../images/arrow.png) no-repeat;position: absolute;width:44px;height:20px;-webkit-animation:start 1.5s infinite ease-in-out;  -moz-animation:start 1.5s infinite ease-in-out;animation:start 1.5s infinite ease-in-out;}
.gift--card{position:relative;;width:100%;}
.gift--bg{position:absolute;width:90%;left: 6%}
.card--bg{width:100%;position: absolute}
.card--inner{position:relative;width:80%;height:50%}
/*.photo_border{position: absolute;width:118px;height:118px;background:url(../images/photo.png) no-repeat -3px -6px #fff;background-size:118px 118px;border-radius: 50%;left: 10px;border:4px solid #ffffff;}*/
.photo--left{position:absolute;width:34%;height:44%;left:43%;overflow:hidden;box-sizing:content-box;border:4px solid #cf0a1f;border-radius: 50%;}
.photo-img{width:100%;position: absolute;}
.receive--inner{width:100%;position:absolute;left:12%}/*12.30*/
.receive{width:100%;position: absolute}/*12.30*/
.name--finish{text-align:center;width: 36%;position: absolute;color:#cf0a20;left:51%;font-size:18px;font-weight:bold;margin-top:-5px}/*12.30*/
.teacher--finish{position: relative;margin:10px 25px 0 25px;color:#cf0a20;font-weight:bold;font-size:18px;padding-bottom:8px;border-bottom:1px solid #b7b7b9;display:none;left:10%}
.teacher--finish .name{color:#7d7d7d}
.teacher--finish .name--finish{text-align:center;display:inline-block;width: 36%;}
.send--wish--finish{margin-top:5px;padding:0 25px 5px 25px;color:#f5df93;font-weight:bold;position:relative;display:none;left:10%}
/*input::-webkit-input-placeholder {color:rgba(255,255,255,.5);font-family: "microsoft yahei"}
input::-moz-placeholder {color:rgba(255,255,255,.5);font-family: "microsoft yahei";text-align: center}*/
.input--finish::-webkit-input-placeholder {color:#b82124;font-family: "microsoft yahei";text-indent:18%}/*12.30*/
.input--finish::-webkit-input-placeholder::after{color:#b82124;font-family: "microsoft yahei";}/*12.30*/
.send--wish{margin-top:10px;padding:0 25px 5px 25px;color:#f5df93;font-weight:bold;position:relative}
.title--name{position: absolute;line-height:35px;top: 1px;z-index: 10;padding-top:5px;color:#7d7d7d}
.input--finish{position: absolute;border: none;text-indent:17%;line-height:35px;/*background: url(../images/line.png) repeat;*/overflow: auto;width:84%;/*top:9px;*/color:#c21822;font-size:18px;font-family: "microsoft yahei";background:transparent;left:9%;/*margin-top:17px*/}/*12.30*/
/*.txt--input{position: relative;border: none;text-indent:18%;line-height:35px;background: url(../images/line_02.png) repeat;overflow: auto;width:99%;top:4px;font-size:16px;font-family: "microsoft yahei";color:#c21822}*/
.send--wish--finish .to{color:#7d7d7d;font-weight:bold;font-size: 22px;margin-right: 5px}
.send--wish--finish p{padding-bottom:8px;text-align: justify;padding-top:10px;/*word-break:keep-all;*/font-size:12px;display:none}
.send--wish--finish .border{border-bottom:1px solid #b7b7b9;position: absolute;width:83%}
.view{color:#ffffff;position:absolute;width:80%;/*left:50%;*/margin-left:38px}
.view--gift{color:#ffffff;position: relative;left: 50%;margin-left:-57px;font-size:18px;display:block}
.one{position: relative;margin-top:10px}
.tab--box{position: relative;width: 100%;height:100%}
.slide--img{position:absolute;/*margin-left:auto;margin-right:auto;width:285px;*/width:90%;left:7%;/*height:390px;*/margin-top:20px}
.slider{/*background:url(../images/order.png) no-repeat;width:288px;height:100%;background-size:288px 100%;position: absolute;transition: opacity 800ms linear;display:block*/position: absolute;width:90%;overflow: hidden;left:8%}
.slider--bg{position: absolute;width:95%}
.slider--box{position:absolute;/*margin-left:30px;*//*left:21%;*/width:93%;/*height:100%*/}
.slider--box .title{width:100%;position: absolute;display:none}
.slider--box .product--word{width:100%;position:absolute;display:none}
.slider--box .title_one{width:70%;position: absolute;display:none}
.slider--box .title--move{animation: right 0.7s linear 0s forwards;-webkit-animation: right 0.7s linear 0s forwards;-moz-animation: right 0.7s linear 0s forwards;}
.slider--box .title--left{animation: left 1s linear 0s forwards;-webkit-animation: left 1s linear 0s forwards;-moz-animation: left 1s linear 0s forwards;}
.slider--box .product{/*height: 100%;*/width:100%;position:absolute;margin-top:10px;left:-23%}
.tips--box{position:absolute;width:50%;color:#231815;margin-left:26%;/*float:left;*//*margin-top:45px;margin-left: 10px;line-height:1.5;*/overflow: hidden;display:none;line-height:1.5}
.tips--box--move{animation: right_one 3s linear 0s forwards;-webkit-animation: right_one 3s linear 0s forwards;-moz-animation:right_one 3s linear 0s forwards;}
.tips--box--two--move{animation: left_one 2s linear 0s forwards;-webkit-animation: left_one 2s linear 0s forwards;-moz-animation:left_one 2s linear 0s forwards;}
.tips--box .red{color:#cf0a20}
.product--box{position:absolute;width:85%}
.talk{position:relative;width:100%;margin-top:200px}
.contact{font-size: 14px;position: absolute;left:-14%;width:100% }
.contact--again{left:20%;width:55%;line-height:1.3;display:none}
.contact--again .red{color:#cf0a20;display: inline-block;text-align: center;width:79%;}
.slider--box--two{left:10%}
.slider--box--two .style{width:70%;}
.tips--box--two{color:#cf0a20;margin-top:15px;line-height:1.5;/*overflow: hidden;*/display:none}/*12.24 16:46*/
.tips--box--two li{list-style:inside square;word-break:keep-all;}
.tips--box--two li.black{color:#231815;list-style:none;text-indent:10px}
.slider--box--two .hair--style{width:100%;position:absolute;/*height:250px;*/left:-10%;bottom:6px}
.product--inner{position:relative;width: 85%;height: 100%}
.product--box--two{position:absolute;width:85%;}
.product--img{position:absolute;width:85%;top:0;right:-25px;overflow: hidden}
.video--box{position:relative}
.title--area{position:absolute;width:100%;display: block}
.video--title{color:#cf0a20;width:58%;margin-left:auto;margin-right:auto;line-height:1.5}
.space{letter-spacing:1.5px}
.slider--box--three{margin-left:10px;}
.slider--box .video--word{width:100%;position:absolute;}
.video--two{width:97%;position:absolute;left:-7%;z-index:999;display:none}
.book{display:block;text-align:center;position:absolute;width:165px;height:35px;line-height:35px;border:none;border:1px solid #fff;border-radius:3px;background:#df0011;color:#fff;font-size:20px;font-family:"microsoft yahei";outline:none;-webkit-appearance:none;left: 50%;margin-left:-86px;box-sizing:content-box;z-index:999}
.pagination{position:relative;width:290px;margin-right: auto;margin-left: auto;color:rgba(255,255,255,.5)}
.pagination .title-word{float: left;margin-left:20px}
.pagination .title--select{color:#fff}
#WxMomentVideo{width:78%;left:11%;position: absolute;display:block}
.music--box{right: 0;top: 0;width:100px;height: 50px;z-index: 999;position: fixed;background: #000;display:none}
.music-icon{background-image: url(../images/play.png);background-position: center center; background-size:100%;background-repeat: no-repeat;height: 28px;position: fixed;right:5px;width:28px;/*text-indent:999999;*/z-index: 999;animation:rotate 3s linear infinite 0s;-webkit-animation:rotate 3s linear infinite 0s;-moz-animation:rotate 3s linear infinite 0s;}
.stop{background-image: url(../images/pause.png);animation:norotate 3s linear infinite 0s;-webkit-animation:norotate 3s linear infinite 0s;-moz-animation:norotate 3s linear infinite 0s;}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes rotate{
    0%{ -webkit-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate{
    0%{ -moz-transform:rotate(0deg);}
    100%{ -moz-transform:rotate(360deg);}
}
@keyframes norotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(0deg);}
}
@-webkit-keyframes norotate{
    0%{ -webkit-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(0deg);}
}
@-moz-keyframes norotate{
    0%{ -moz-transform:rotate(0deg);}
    100%{ -moz-transform:rotate(0deg);}
}

/*恭喜你*/
@keyframes right{
    0%{transform: translateY(100px);opacity:0;width:0%}
    30%{transform:translateY(130px);opacity:0.5;width:40%}
    100%{transform:translateY(0);opacity:1;width:100%}
}
@-webkit-keyframes right{
    0%{ -webkit-transform:translateY(100px);opacity:0;width:0%}
    30%{-webkit-transform:translateY(130px);opacity:0.5;width:40%}
    100%{ -webkit-transform:translateY(0);opacity:1;width:100%}
}
@-moz-keyframes right{
    0%{ -moz-transform: translate(100px,100px);opacity:0;width:30%}
   /* 30%{ -moz-transform:translate(100px,100px);opacity:0.5;width:100%}*/
    100%{ -moz-transform:translate(0,0);opacity:1;width:100%}
}

@keyframes right_move{
    0%{transform: translateX(2000px); }
    100%{transform: translateX(0px);}
}
@-webkit-keyframes right_move{
    0%{ -webkit-transform: translateX(2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-o-keyframes right_move{
    0%{ -webkit-transform: translateX(2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-ms-keyframes right_move{
    0%{ -webkit-transform: translateX(2000px);}
    100%{ -webkit-transform: translateX(0px); }
}
@-moz-keyframes right_move{
    0%{ -webkit-transform: translateX(2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
/*丸子头*/
@keyframes left{
    0%{ transform: translateX(-2000px);}
    100%{ transform: translateX(0px);}
}
@-webkit-keyframes left{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-o-keyframes left{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-ms-keyframes left{
    0%{ -webkit-transform: translateX(-2000px);}
    100%{ -webkit-transform: translateX(0px); }
}
@-moz-keyframes left{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}

@keyframes left_one{
    0%{ transform: translateX(-2000px);}
    100%{ transform: translateX(0px);}
}
@-webkit-keyframes left_one{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-o-keyframes left_one{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}
@-ms-keyframes left_one{
    0%{ -webkit-transform: translateX(-2000px);}
    100%{ -webkit-transform: translateX(0px); }
}
@-moz-keyframes left_one{
    0%{ -webkit-transform: translateX(-2000px); }
    100%{ -webkit-transform: translateX(0px); }
}