.package_title{margin-top: 5px;background: url(../image/package.png) no-repeat;width: 100%;height: 122px;background-size: 100% 122px;margin-bottom: 5px}
.package_inner{width: 100%;position: relative;height: 100%;overflow: hidden;margin-bottom: 10px;background:#eeefef;}
.gifts{position: relative;height: 100%;}
.gifts_list{width: 100%;padding-top: 10px;height:100%;position: relative;overflow: hidden}
.gifts_list .gifts_list_wrapper{height:100%;position: relative;width: 33.3%;float: left;margin-bottom: 10px}
.gifts_list .gifts_list_wrapper .gifts_list_inner{padding-right:4px;position: relative;overflow: hidden;/*margin-bottom: 10px*/}
.gifts_list .gifts_list_wrapper a{color: #52626f;display: block;font-size: 18px;}
.gifts_list .gifts_list_wrapper img{border-bottom:4px solid #2fa8e1;/*height: 70px;*/position: relative;overflow: hidden}
.gifts_list .gifts_list_wrapper img.one{border-bottom: 4px solid #ef7a0c}
.gifts_list .gifts_list_wrapper img.two{border-bottom: 4px solid #8ec31f}
.gifts .add{background: url(../image/add.png) no-repeat;width: 18px;height: 18px;background-size: 100%;display: block;position: absolute;top:19%;left:90%;z-index: 10}
/*.gifts .add_one{background: url(../image/add.png) no-repeat;width: 18px;height: 18px;background-size: 100%;display: block;position: absolute;margin-top: 7.5%;*//*top:20%;*//*margin-left: 63%;z-index: 10}
.gifts .add_three{background: url(../image/add.png) no-repeat;width: 18px;height: 18px;background-size: 100%;display: block;position: absolute;*//*margin-top:47.5%;*//*top:61%;margin-left:30%;z-index: 10}
.gifts .add_four{background: url(../image/add.png) no-repeat;width: 18px;height: 18px;background-size: 100%;display: block;position: absolute;top:61%;margin-left: 63%;z-index: 10}*/
.gifts_list .gifts_list_wrapper p:not(.words){font-size: 16px;color:#231815;padding-top: 5px;padding-left: 6px;height:43px;overflow: hidden;text-overflow: ellipsis;line-height:1.2;font-weight:bold}
.gifts_list .gifts_list_wrapper .words{color: #231815;font-size: 14px;padding-left: 6px;padding-top:10px}
.gifts_list .gifts_list_wrapper .cost_points{display:inline-block;background:#ce0a20;color:#fff;width: 53px;height: 16px;line-height: 16px;text-align: center;margin-right: 5px}
.points_area{border-top: 1px dashed #b5b5b5;}
.points_btn{padding-top: 10px;padding-left: 6px;color:#cf0a20;font-size: 20px;padding-bottom: 10px}
.sub{font-size: 28px;padding-left: 5px;color: #231815;}
.old_price{color:#ce0a20;font-size: 16px;padding-left: 13px}
.old_price span{color: #848484}
.btn_car{border-top: 1px dashed #b5b5b5;}
.action_link{padding-top: 10px;padding-bottom: 12px;padding-left: 6px}
.action_link a{display: inline-block;height: 23px;line-height: 23px;text-align: center;background:#ce0a20;color:#fff;width: 109px}
