.design_img{margin-top: 40px;margin-bottom: 10px}
.design_img_show{width: 188px;height: 251px;position: relative;margin-left: auto;margin-right: auto;overflow: hidden}
.design_content{width: 100%;position: relative;overflow: hidden;background:#000003;color: #e4bc6a}
.design_content_inner{padding:8px 10px 5px 15px;background: #000003}
.design_title{margin-bottom: 10px;}
.design_specific{width: 100%;color: #ffffff;margin-bottom: 10px}
.specific_title{color:#e4bc6a}
.height{padding-left: 3px}
.height label,.width label{color: #ffffff}
.width{padding-left: 4px}
.height .height_num,.width .width_num{border:none;outline:0;-webkit-appearance: none;border-radius: 0;background: #e4bc6b;width: 20%;height: 18px;line-height: 18px;text-align: center;color: #614e24;font-size: 14px;}
.design_number{width: 100%;margin-bottom: 10px}
.design_position{width: 100%;margin-bottom: 10px;position: relative}
.number_input{border:none;outline:0;-webkit-appearance: none;border-radius: 0;background: #383c49;margin-left:5px;width:68%;height: 18px;line-height: 18px;text-align: center;color: #ffffff;font-size: 14px;}
.txt{width:70px;text-align: left;display: inline;float:left;}
.position_select{/*position: relative;*/width:61%;overflow: hidden;display: inline-block;/*text-align: center*/;height: 19px;}
.cf{}
.location{width:60%;height: 19px;line-height: 19px;background: #383c49;color: #fff;border: none;outline: none;font-size: 16px;position:absolute;overflow: hidden;-webkit-appearance: none;border-radius: 0;font-family: "microsoft yahei";margin-left:5px;/*text-indent:35%*/}
.design_material{width: 100%;margin-bottom: 10px;position: relative}
.design_sight{width: 100%;margin-bottom: 7px;position: relative}
.sight{/*width:60%;height: 19px;line-height: 19px;background: #383c49;color: #fff;border: none;outline: none;font-size: 16px;position: relative;overflow: hidden;-webkit-appearance: none;border-radius: 0;font-family: "microsoft yahei";margin-left: 3px;*//*text-indent:26%*/}
/*.design_points{margin-bottom: 10px;}*/
.select_choice{width:19px;height:19px;line-height:19px;background:#e4bc6b;position:absolute;display: inline-block;margin-left:6px;margin-top: 1px;}
.select_arrow{position: absolute;width: 0;height: 0; border: 7px solid transparent;border-top: 11px solid #573800;top:4px;left:3px}
.need_points{font-size: 24px}
.button_cart{border-top: 1px dashed #999999}
.action_link{padding:10px 10px 15px 15px}
.product_detail{margin-top: 10px;margin-bottom:40px}