.slider_wrapper{position: relative;width: 100%;overflow: hidden}
.swiper-container {width: 100%;height: 100%;}
.swiper-slide{position:relative;text-align: center;font-size: 14px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;  -webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide a{display: block}
.banner{position: relative;width:100%;overflow: hidden}
.banner img{max-width: 100%;max-height: 100%;display: block;overflow: hidden;width: 100%;height: 137px;}
.banner .exchange{display: block;position: absolute;color: #614e24;right: 55px;background:#e4bc6b;width: 67px;height: 20px;line-height: 20px;text-align: center;top:20%;font-size: 14px}
.quick_nav{margin-top: 10px;padding: 0 3.125%}
.quick_entry_link{width:25%;float: left;color: #e4bc6a;text-align: center;display: block;padding-bottom: 12px;}
.quick_icon{display: inline-block;font-size:14px }
.quick_entry_link img{width:45px;height:45px;display: block;margin:0 auto 6px auto}
.quick_nav:after{clear: both;content: "."; height: 0;visibility: hidden;font-size: 0;display: block;}
.education{margin-top: 20px;position: relative;}
.education a{max-width: 100%;max-height: 100%;display: block;overflow: hidden;width: 100%;position:relative}
.education .edu{max-width: 100%;max-height: 100%;display: block;overflow: hidden;width: 100%;position:relative}
.education_floor{margin-bottom:10px;position: relative}
/*.education_floor .edu{max-width: 100%;max-height: 100%;display: block;overflow: hidden;width: 100%;position:relative}*/
.education_floor .pic{position: relative;width:120px;max-height: 100%;text-align: center}
.education_floor .name{position: absolute;top:50px;right: 10px;color: #3e3a39;text-align: center;}
.education_floor .title{position: absolute;top:50px;right: 20px;color: #3e3a39;text-align: center;}
.education_floor .service{position: absolute;top:50px;right: 20px;color: #3e3a39;text-align: center;}
.education_floor .area{position: absolute;top:50px;right: 10px;color: #3e3a39;text-align: center;}
#bottom{width: 100%;position: relative;min-width:320px;overflow: hidden;font-size:16px;color:#ffffff;padding: 0 20px 20px 15px}
#footer{text-align: center;height: 80px;background:#000108;}
.footer_links{width: 180px;margin: 0px auto;padding-top: 7px;}
.footer_links li{display: table-cell;height: 10px;line-height: 10px;width: 90px;}
.footer_links li:first-child{border-right: 1px solid #fff;}
.footer_links li a{display: inline-block;width: 72px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1.1em}
#footer p{font-size: 12px;padding-top: 10px;line-height: 1.1em;color:#c1c2c2}

/*.education_floor{background:url(../image/nav_01.png) no-repeat;width:340px;height: 132px;background-size: 340px 132px;}*/